# Top-most EditorConfig file
root = true

[*]
charset = utf-8 # File encoding
trim_trailing_whitespace = true # Trailing whitespace
end_of_line = crlf # Line endings
insert_final_newline = true # New line at the end of the file


# Indentation settings
[*.js]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

# Maximum line length
[*.{js,css,html}]
max_line_length = 80