
#restaurant-dialog {
  position: relative;
  top: 0;
  margin: auto;
  background-color: white;
  border: 4px solid #FF570A;
  border-radius: 20px 20px 20px 20px;

  width: 90%;
  height: 100%;

  overflow: hidden;

}

#restaurant-dialog button {
  display: block;
  margin: auto;
  background-color: #FF570A;
  width: 33%;
  padding: 20px;
  border-radius: 10px;
}

#restaurant-dialog h4 {
  background-color: #FF570A;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#restaurant-dialog-menu-area {
  max-height: 100%;
  overflow: auto;

}

.menuDayHeading {
  background-color: #5BC0EB;
  padding: 10px;
}


#restaurant-dialog li {
  padding: 10px;
}
