#login-view form {
  display: block;

  margin: 20px;
}

#login-view form button {
  display: block;
  padding: 10px;
  width: 100%;

}

#login-view form label {
  display: block;
  padding: 10px;
  width: 33%;

}

#login-view form input {
  display: block;
}
