
.favourite-restaurant {
  background-color: #fb4258;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.favourite-restaurant h3 {

}

.favourite-menu {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  overflow-y: scroll;
}


.nearest-restaurant {
  background-color: #5BC0EB;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.nearest-restaurant h3 {

}

.nearest-menu {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;

  overflow-y: auto;
}
