/*
Rakenne
*/

body {
  font-family: sans-serif;
  margin: auto;

  padding: 0;
  background-color: #12355B;
}

#center {
  display: block;
  margin: auto;
  width: 90%;
  height: 100vh;

  background-color: white;
}

header {
  width: 100%;
}

main {
  flex: 1;
}

footer {
  background-color: #5BC0EB;
  position: fixed;
  bottom: 0;
}


/*
Muut
*/


/* header styles */
h1 {
  background-color: #FF570A;
  margin: 0;
  padding: 20px 10px;
}

nav {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

nav button {
  border: 10px #FFFFFF solid;
  padding: 0px;
  margin: 5px;
  background-color: #D72638;

  height: 100%;
  max-height: 250px;
  width: 25%;
  max-width: 250px;

  text-align: center;
  overflow: hidden;
}

nav button:hover {
  border: black;
}

nav button:active {
  color: red;
}

/* home-view styles */

#map-area {

  height: 800px;
}

#map {
  height: 100%
}


/* list-view styles */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;

  background-color: #5BC0EB;
}

th {
  background-color: #eb8a90;
  border-bottom: 1px solid #ccc;
  font-weight: bolder;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: #ffbf00;
  font-weight: bold;
}

/* profile-view styles */


/* login-view styles */



