/*
Rakenne
*/

body {
  font-family: sans-serif;
  margin: auto;

  padding: 0;
  background-color: white;

  background-image: url('../assets/red_green_hot_chillis.jpg');
  /* background-repeat: no-repeat;*/
  background-size: cover;

}

#center {
  display: block;
  margin: auto;
  width: 90%;
  /*height: 100vh;*/
  min-height: 1200px;

  padding: 0px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 0.8);

}

header {
  width: 100%;
}


.view {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}


/*
main {
  flex: 1;
}

*/


/*
Muut
*/


/* header styles */
h1 {
  background-color: #f63043;
  margin: 0;
  padding: 20px 10px;
}

nav {
  /*background-color: #FFFFFF;*/
  position: sticky;
  top: 0;

  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;

  padding: 10px;
}

nav button {
  border-radius: 5px;
  border: 10px #FFFFFF;
  padding: 10px;
  margin: 1px;
  background-color: grey;

  height: 100%;
  max-height: 250px;
  width: 25%;
  max-width: 250px;

  text-align: center;
  overflow: hidden;
}

nav button:hover {
  border: black;
}

nav button:active {
  color: red;
}

/* home-view styles */
#home-view {

}


#map-area {
  background-color: darkolivegreen;
  height: 90vh;
  overflow: hidden;

  padding: 10px;
  border-radius: 10px;
}

#map {
  height: 100%;
  overflow: hidden;

}


/* list-view styles */


#table-area {
  width: 100%;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1px;
  padding: 0;

  width: 100%;
  overflow-y: scroll;

  background-color: darkolivegreen;
}

th {
  background-color: #eb8a90;
  border-bottom: 1px solid #ccc;
  font-weight: bolder;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: #ffbf00;
  font-weight: bold;
}

/* profile-view styles */


/* login-view styles */



